.profile {
  margin: 50px 0;
  text-align: center;

  .img_box {
    margin: 0 auto;
    width: 200px;
    height: 200px;
    padding: 10px;
    border: 1px solid #e6e6e6;
    border-radius: 50%;
  }
  .git_img{
    position: relative;
    top: 85%;
    left: 35%;
  }
}
