@mixin compSize {
  text-align: center;
  min-height: 1070px;
  padding: 10px;
}

.root {
  margin-left: 300px;

  .comp1 {
    @include compSize();

    background-color: black;
  }
  .comp2 {
    @include compSize();
    background-color: rgb(255, 166, 0);
  }
  .comp3 {
    @include compSize();
    background-color: rgb(251, 255, 0);
  }
  .comp4 {
    @include compSize();
    background-color: rgb(0, 255, 200);
  }
}
